[project]
	description = Cmsc141 Machine Problem Solutions
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nico Martin Eñego (nmenego)
[access "refs/for/refs/*"]
	read = group user/Nico Martin Eñego (nmenego)
	push = group user/Nico Martin Eñego (nmenego)
	label-Code-Review = -2..+2 group user/Nico Martin Eñego (nmenego)
	label-Verified = -1..+1 group user/Nico Martin Eñego (nmenego)
	rebase = group user/Nico Martin Eñego (nmenego)
	removeReviewer = group user/Nico Martin Eñego (nmenego)
	submit = group user/Nico Martin Eñego (nmenego)
[access "refs/heads/*"]
	read = group user/Nico Martin Eñego (nmenego)
	create = group user/Nico Martin Eñego (nmenego)
	push = +force group user/Nico Martin Eñego (nmenego)
	pushMerge = group user/Nico Martin Eñego (nmenego)
[access "refs/tags/*"]
	push = +force group user/Nico Martin Eñego (nmenego)
	pushTag = group user/Nico Martin Eñego (nmenego)
	pushSignedTag = group user/Nico Martin Eñego (nmenego)
